body {
  background-color: black;
  color: white;
}

a {
  color: white;
  text-decoration: none;
}

a img {
  justify-content: center;
}

.Main {
  text-align: center;
}

.SidebarLeft {
  float: left;
  max-width: 15%;
  max-height: auto;
  border-right: solid;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.SidebarRight {
  float: right;
  max-width: 15%;
  max-height: auto;
  border-left: solid;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.Movies {
  max-width: 100%;
  height: auto;
  display: block;
  display: flex;
  margin: 15px;
}

.Movies img {
  max-width: 100%;
  max-height: auto;
  align-self: center;
}

.home-logo {
  display: flex;
  margin: auto;
  justify-content: center;
}

.home-logo img {
  max-width: 100%;
  margin: auto;
  margin-top: 25%;
}

.hero-img {
  max-width: 25%;
  margin: auto;
  
}

.movie-info {
  max-width: 80%;
  /* margin: auto; */
  display: flex;
  /* flex-direction: column; */
  /* justify-content: center; */
}