.App {
  text-align: center;
}

.Sidebar {
  float: left;
  max-width: 25%;
  max-height: 100%;
  border-right: solid;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  
}

.Movies {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 15px;
}
.Movies img {
  max-width: 100%;
}